<!DOCTYPE html>
<html>

<head>
    <title>Article Details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <a href="/">Back</a>
    <h1>
        <%= article.title %>
    </h1>
    <p>
        <%= article.text %>
    </p>
    <a href="/edit/article/<%= article._id %>">Edit</a>
    <form method="POST" action="/article/<%= article._id %>/delete" style="display:inline">
        <button type="submit">Delete</button>
    </form>

</body>

</html>